{{ define "main" }}
<div id="homepage">
  <div class="hero is-large homepage-hero">
    <div class="hero-body">
      <h1>The Rebel Web</h1>
    </div>
  </div>

  <div class="content">
    <div class="section">
      <div class="columns">
        <div class="column"></div>
        <div class="column is-half">
          <p>We are webmasters.</p>

          <p>You are one of us.</p>

          <p>
            Take control of your web identity, your creations, your ideas.
            The Rebel Web casts off the notion that only centralized, commercial
            platforms can showcase your creativity.
          </p>

          <p>
            The Rebel Web is a practical guide for creating a webpage,
            or a whole site, or even more! We are a community of
            creatives and developers who believe that <em>anyone</em>
            should be able to showcase their ideas without selling out to
            commercial interests.
          </p>
        </div>
        <div class="column"></div>
      </div>
    </div>

    <div class="section has-text-center">
      <a class="button is-success is-large" href="/posts/getting-started/">Begin!</a>
    </div>

    {{ .Scratch.Set "items" (where .Site.RegularPages "Type" "in" "posts") }}
    {{- partial "post_grid.html" . -}}

    </div>

  </div>
</div>
{{ end }}
