{{ define "main" }}
<div id="homepage">
  <div class="hero is-large homepage-hero">
    <div class="hero-body">
      <h1>The Rebel Web</h1>
    </div>
  </div>

  <div class="content">
    <div class="section">
      <div class="columns">
        <div class="column"></div>
        <div class="column is-half">
          <p>We are webmasters.</p>

          <p>You are one of us.</p>

          <p>
            Take control of your web identity, your creations, your ideas.
            The Rebel Web casts off the notion that only centralized, commercial
            platforms can showcase your creativity.
          </p>

          <p>
            The Rebel Web is a practical guide for creating a webpage,
            or a whole site, or even more! We are a community of
            creatives and developers who believe that <em>anyone</em>
            should be able to showcase their ideas without selling out to
            commercial interests.
          </p>
        </div>
        <div class="column"></div>
      </div>
    </div>

    <div class="section has-text-center">
      <a class="button is-success is-large" href="/posts/begin/">Begin!</a>
    </div>

    <div class="columns m-4 homepage-features">
      <div class="column">
        <div class="box">
          <h2>Own your work</h2>

          <p>
            We are the webmasters, we are the owners of our creations.
            We are not convinced by the ads; we have full control of
            everything we create, and we are invicible to platform
            rot.
          </p>
        </div>
      </div>
      <div class="column">
        <div class="box">
          <h2>Collaborate</h2>

          <p>
            When you build on essential, battle-tested, ubiquitous web
            technology, you are a part of a vast and thriving ecosystem.
            Welcome your collaborators, or easily become one.
          </p>
        </div>
      </div>
      <div class="column">
        <div class="box">
          <h2>This is not a platform</h2>

          <p>
            The Rebel Web is a resource that permanently expands your
            ability. Learn just one small piece of the puzzle and be
            forever changed.
          </p>

          <p>
            What you learn, you take with you.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
{{ end }}
