{{ define "main" }}
<div class="columns">
  <div class="column is-hidden-mobile"></div>

  <div class="column content page-content is-half">
    <h2>{{ .Title }}</h2>

    {{ .Content }}

    <div class="sequence-links">
    {{ with .PrevInSection }}
      <a class="prev" href="{{ .Permalink }}">
        <span class="icon"><i class="fas fa-arrow-left"></i></span> {{ .Title }}
      </a>
    {{ end }}

    {{ with .NextInSection }}
      <a class="next" href="{{ .Permalink }}">
        {{ .Title }} <span class="icon"><i class="fas fa-arrow-right"></i></span>
      </a>
    {{ end }}
    </div>
  </div>

  <div class="column is-hidden-mobile"></div>
</div>
{{ end }}
