<meta name="viewport" content="width=device-width, initial-scale=1">
<title>The Rebel Web</title>

{{ $sass := resources.Get "bulma/bulma.sass" }}
{{ $style := $sass | resources.ToCSS | resources.Fingerprint }}
<link rel="stylesheet" href="{{ $style.Permalink }}" integrity="{{ $style.Data.Integrity }}">

{{ $localsass := resources.Get "main.scss" }}
{{ $style := $localsass | resources.ToCSS | resources.Fingerprint }}
<link rel="stylesheet" href="{{ $style.Permalink }}" integrity="{{ $style.Data.Integrity }}">

<link rel="stylesheet" href="/css/dracula.css" type="text/css" media="screen" />

<script src="https://kit.fontawesome.com/d4debd1097.js" crossorigin="anonymous"></script>

<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#d134d6">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">
