<meta name="viewport" content="width=device-width, initial-scale=1">
<title>The Rebel Web</title>

{{ $sass := resources.Get "bulma/bulma.sass" }}
{{ $style := $sass | resources.ToCSS | resources.Fingerprint }}
<link rel="stylesheet" href="{{ $style.Permalink }}" integrity="{{ $style.Data.Integrity }}">

{{ $localsass := resources.Get "main.scss" }}
{{ $style := $localsass | resources.ToCSS | resources.Fingerprint }}
<link rel="stylesheet" href="{{ $style.Permalink }}" integrity="{{ $style.Data.Integrity }}">

<link rel="stylesheet" href="/css/dracula.css" type="text/css" media="screen" />

<script src="https://kit.fontawesome.com/d4debd1097.js" crossorigin="anonymous"></script>
