<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">The Rebel Web</a>

    <div class="navbar-burger has-text-white" data-target="navMenu">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div class="navbar-menu" id="navMenu">
    <div class="navbar-start">
      <a class="navbar-item" href="/posts/getting-started">
        <span class="icon-text">
          <span class="icon">
            <i class="fas fa-bolt-lightning"></i>
          </span>
          <span>Begin</span>
        </span>
      </a>
    </div>

    <div class="navbar-end">
      <a class="navbar-item" href="/calophon">
        <span class="icon-text">
          <span class="icon">
            <i class="fas fa-book"></i>
          </span>
          <span>Calophon</span>
        </span>
      </a>

      <a class="navbar-item" href="/about">
        <span class="icon-text">
          <span class="icon">
            <i class="fas fa-circle-info"></i>
          </span>
          <span>About</span>
        </span>
      </a>
    </div>
  </div>

  <!-- <div class="navbar-end">
       <div class="navbar-item">
       <a class="button has-background-link-dark has-text-white-bis" href="">
       <span class="icon"><i class="fas fa-bolt-lightning"></i></span>
       <span>Begin</span>
       </a>
       </div>
       </div> -->
</nav>
